.config/VSCodium/*
.config/VSCodium/logs/20250823T164237/window1/exthost/vscode.git/Git.log
.config/VSCodium/User/globalStorage/state.vscdb
.config/VSCodium/User/workspaceStorage/9774a2e00cebc65f72ed91bd289ec846/state.vscdb
