.config/VSCodium/
/home/jfaber/a/rc/dotfiles_desktop/.config/VSCodium/
.config/VSCodium/User/globalStorage/state.vscdb
.config/VSCodium/User/workspaceStorage/9774a2e00cebc65f72ed91bd289ec846/state.vscdb
